body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:886px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:886px;
}
#u755 {
  position:absolute;
  left:2px;
  top:435px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:602px;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:602px;
}
#u757 {
  position:absolute;
  left:2px;
  top:293px;
  width:962px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  position:absolute;
  left:282px;
  top:50px;
  width:284px;
  height:19px;
}
#u759 {
  position:absolute;
  left:2px;
  top:2px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
